body{
    margin:0;
    margin-top:0;
    min-width:720px;
    min-height:405px;
}
#header img{
    height:50px;
    width:500px;
    display:inline;
}
#header .top_title{
    height:50px;
    background-color:#4682b4;
    margin: 0;
}
#main #results_search{
    background-color: #5890AD;
    width: 50%;
    height: 300px;
}
#main #key_term{
    background-color: cornsilk;
    width: 50%;
    height: 300px;
}
#main div {
    float: left;
}