body{
  margin:0;
  margin-top:0;
  min-width:720px;
  min-height:405px;

}
#header img{
  height:50px;
  width:500px; 
  display:inline;
}
#header #register{
  display:table-cell;
  margin-right:15px;
  padding:10px 20px;
  float:right;
  font-size:18px;
  text-align:center;
  color:#ffffff;
  text-decoration:none;
}
#header #register:hover{
  background:#405dca;
}
#header .top_title{
  height:50px;
  background-color:#4682b4;
}
#header .top_title{
  margin:0;
}
#header h1{
  color:white;
  margin:0;
}

#main{
  width: 100%;
}
#main button{
  font-size:16px;
}
#main input{
  height:24px;
  width:80%;
}

#main .blank{
  height:80px;
}
#main img{
  height:37px;
  width:129px;
}

#main .main-content{
  width: 40%;
  margin:0 auto;
}
.results_zone{
  border-top:1px solid gray;
}
.results_zone #query{
  font-size: 30px;
  background-color: #B3D4FD;
}

#results img{
  width: 20px;
  height: 20px;
}
#results img:hover{
  cursor: pointer;
}
#sentenceond li:hover{
  background-color:#B3D4FD;

}

.popup {
  overflow: scroll;
  border-radius: 10px;        /* CSS3草案 */  
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 10px; 
  display: none;
  position: fixed;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  background-color: #fff;
  z-index: 101;
  background-image: url("../images/wallpaper.jpeg");
  background-size:cover;
}
.popup_inner {
  overflow: scroll;
  padding: 20px;
}
.popup_inner p {
 line-height: 2.2em;
 padding-bottom: 0.25em;
 display: inline;
 border-bottom: 1px dotted #999;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 100;
}

/*registration*/

textarea{
  width:95%;
}
#object{
  display:inline-block;
  width:100%
}
#ID{
  display:inline-block;
  width:20%;
  padding-left:1%;
}
#sentences{
  display:inline-block;
  width:80%;
  padding-left:1%;
}
.key_terms {
  vertical-align:top;
  display:inline-block;
  box-sizing:border-box;
  width:25%;
}

#eng_sentence, #jap_sentence {
  display:inline-block;
  box-sizing:border-box;
  width:49%;
}
#eng_sentence textarea{
  background-color:#f5f5f5;
}
#jap_sentence textarea{
  background-color:#f3fff5;
}
.key_terms textarea{
  background-color:#f5f5f5;
}
#key_term, #definition {
  width:100%;
}

#send_registration{
  margin:10px auto;
  width:20%;
  padding:10px;
  background:#405dca;
  color:#ffffff;
  text-align:center;
  display:block;
  text-decoration:none;
}
